<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div sec:authorize="isAuthenticated()">
    <nav>
        <span>Добро пожаловать, <span sec:authentication="name"></span>!</span>
        <form th:action="@{/user/logout}" method="post" style="display:inline;">
            <button type="submit">Выйти</button>
        </form>
    </nav>
</div>

<h1>Домашняя страница</h1>
<p>Основное содержимое домашней страницы здесь...</p>

</body>
</html>