<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main>
    <h2>Offers List</h2>

    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        <div th:each="o : ${allOffers}" style="border: 1px solid #ccc; padding: 10px; width: 250px;">
            <img th:src="@{'/images/' + ${o.photo}}" alt="Offer Image" style="max-width: 100%; height: auto;">
            <h3 th:text="${o.brand.name + ' ' + o.gameName}">Offer Name</h3>
            <p><strong>Price:</strong> <span th:text="${o.price}">Price</span></p>
            <p><strong>Status:</strong> <span th:text="${o.status}">Status</span></p>
            <p><strong>Description:</strong> <span th:text="${o.description}">Description</span></p>
            <p><strong>Owner:</strong> <span th:text="${o.owner}">Owner</span></p>
<!--            <a th:href="@{'/offers/details/' + ${o.id}}">Detail info</a>-->
        </div>
    </div>
</main>
</body>
</html>